<!DOCTYPE HTML>

<!-- If you're seeing this, you're definitely a Russian spy stealing intelligence -->

<html lang="en">
    <head>
      <link rel="stylesheet" href="../design/css/general.css" />
      <link rel="stylesheet" href="../design/css/nav.css" />
      <link rel="stylesheet" href="../design/css/overclocking.css" />
    <title>Angaros - Overclock Guides</title>
    </head>
    <body>
      <!-- Header -->
      <nav>
      <ul>
        <li><a href="../index.html" data-value="Home" id="nav-header-1">Home</a></li>
        <li><a href="#" data-value="Overclocking Guide" id="nav-header-2">Overclocking Guide</a></li>
      </ul>
        <div class="fade_rule"></div>
      </nav>
        <div id="maintext">
          <div class="author">
            <h1>Overclocking Guide</h1>
            <p>
                Made by Plerion#6666 - Last update 15/09/2022 @17:59 UTC+1
            </p>
          </div>
            <div class="center">
                <div id="flex-wrap">
            <div class="column-new">
                <a href="OverclockingGuideAMD.html">
                  <div class="cards-new"><h5>Overclocking for AMD</h5>
                    <div class="suppgpus">
                      <div class="minersuppAMD">
                        <h5>AMD</h5>
                      </div>
                    </div>
                    <br>
                    <br>
                    <p>Read <b><i><u>carefully</u></i></b></p>
                    <br>
                    <br>
                    <h4>Click to learn more</h4>
                  </div>
                </a>
            </div>
              <div class="column-new">
                <a href="OverclockingGuideNvidia.html">
                  <div class="cards-new"><h5>Overclocking for Nvidia</h5>
                    <div class="suppgpus">
                      <div class="minersuppNVIDIA">
                        <h5>Nvidia</h5>
                      </div>
                    </div>
                    <br>
                    <br>
                    <p>Read <b><i><u>carefully</u></i></b></p>
                    <br>
                    <br>
                    <h4>Click to learn more</h4>
                  </div>
                </a>
              </div>
                </div>
              </div>
        </div>
      </div>
    </body>
    <script src="../design/js/letterAlternate.js"></script>
</html>
